  
body{
    background-image: url("background.jpg");
    background-size: cover;
    
}
h1{
    padding-top: 100px;
    text-align: center;
    font-size: 36px
}
div {
    text-align: center;
    display: inline-block;
}

.center-container {
    width: 100%;
    text-align: center;
}
p{
    text-align: center;
    font-size: 34px
}
