body{
    background-image: url("background.png");
    background-size: cover;
}
p{
    text-align: center;
    font-size: 36px
}
div {
    text-align: center;
    display: inline-block;
}

.center-container {
    width: 100%;
    text-align: center;
}